<%- include("../layout/head.ejs") %>

<body>
    <%- include("../layout/header.ejs") %>
    <main class="container metodologias">     
        <div class="metodologias__heading">
            <h2 class="text-cyan-900 text-center mt-10 text-6xl">Nuestra metodología de trabajo</h2>
            <div class="text-center mt-16">
                <a class=" bg-cyan-900 rounded-md text-white p-3" href="/usuario/registro">Comenzá Gratis</a>
            </div>
        </div>
        <section class="gallery container seccion">
            <img class="img-container" src="../img/fotos-grid/img1.jpg" alt="img-galeria">
            <img class="img-container" src="../img/fotos-grid/img2.jpg" alt="img-galeria">
            <img class="img-container" src="../img/fotos-grid/img3.jpg" alt="img-galeria">
            <img class="img-container" src="../img/fotos-grid/img4.jpg" alt="img-galeria">
        </section>
        
        <section id="specialists" class="seccion">
            <div class="especialistas-heading">
                <h2>Nuestros Especialistas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nesciunt sunt vitae ullam consectetur maiores dicta odio veritatis, accusamus fugit.</p>
            </div>
            
            <div class="container">
                <article>
                    <div class="specialist__image">
                        <img src="../assets/specialist1.jpg" alt="Specialist One">
                    </div>
                    <div class="specialist__details">
                        <h4>Dr. Kwadjo Nkansa</h4>
                        <small>Surgery Specialist</small>
                    </div>
                    <div class="specialist__socials">
                        <a href="https://linkedin.com" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                        <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook' ></i></a>
                        <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=+233557097546" class="specialist__whatsapp" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
                </article>
                
                <article>
                    <div class="specialist__image">
                        <img src="../assets/specialist2.jpg" alt="Specialist Two">
                    </div>
                    <div class="specialist__details">
                        <h4>Dr. Fella Makafui</h4>
                        <small>Anaesthetic Specialist</small>
                    </div>
                    <div class="specialist__socials">
                        <a href="https://linkedin.com" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                        <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook' ></i></a>
                        <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=+233557097546" class="specialist__whatsapp" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
                </article>
                
                <article>
                    <div class="specialist__image">
                        <img src="../assets/specialist3.jpg" alt="Specialist Three">
                    </div>
                    <div class="specialist__details">
                        <h4>Dr. Liza Apedo</h4>
                        <small>Orthopedic Specialist</small>
                    </div>
                    <div class="specialist__socials">
                        <a href="https://linkedin.com" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                        <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook' ></i></a>
                        <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=+233557097546" class="specialist__whatsapp" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
                </article>
                
                <article>
                    <div class="specialist__image">
                        <img src="../assets/specialist4.jpg" alt="Specialist Four">
                    </div>
                    <div class="specialist__details">
                        <h4>Dr. Abigail Brown</h4>
                        <small>Cardiology Specialist</small>
                    </div>
                    <div class="specialist__socials">
                        <a href="https://linkedin.com" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                        <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook' ></i></a>
                        <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=+233557097546" class="specialist__whatsapp" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
                </article>
            </div>
        </section>


    </main>

    <%- include("../layout/footer.ejs") %>
    <script src="../js/darkMode.js"></script>
</body