<%- include("../layout/head.ejs") %>

<body>
    <%- include("../layout/header.ejs") %>
    <main class="container metodologias">     
        <div class="metodologias__heading">
            <h2 class="text-cyan-900 text-center mt-10 text-6xl">Nuestra metodología de trabajo</h2>
            <div class="text-center mt-16">
                <a class=" bg-cyan-900 rounded-md text-white p-3" href="/usuario/registro">Comenzá Gratis</a>
            </div>
        </div>
        <section class="gallery container seccion">
            <img class="img-container" src="../img/fotos-grid/img1.jpg" alt="img-galeria">
            <img class="img-container" src="../img/fotos-grid/img2.jpg" alt="img-galeria">
            <img class="img-container" src="../img/fotos-grid/img3.jpg" alt="img-galeria">
            <img class="img-container" src="../img/fotos-grid/img4.jpg" alt="img-galeria">
        </section>
        <section class="container seccion w-8/12">
            <div class="flex ">
                <aside class="w-2/4">
                    <h3 class="font-bold text-left text-3xl mb-4">Introducción a Gestory</h3>
                    <ol class="p-2 list-decimal ml-4 text-3xl space-y-5">
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li class="p-3"><a href="#">Lorem ipsum dolor sit.</a></li>
                    </ol>
                </aside>
                <div>
                    <div class="contenido">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../layout/footer.ejs") %>
    <script src="../js/darkMode.js"></script>
</body