@use '../base/mixins' as m;
@use '../base/variables' as v;

.caracteristicas{
    width: 80%;
    @include m.bordeinf(#ccc);

    h2{
        text-align: center;
        margin-bottom: 8rem;
    }

    &__grid{
        @include m.grid(3,2rem);

        @include m.telefono{
            display: flex;
            flex-wrap: wrap;
        }
        @include m.tablet{
            display: flex;
            flex-wrap: wrap;
        }
    }

    @include m.telefono{
        width: 100%;
    }
    @include m.tablet{
        width: 100%;
    }
}

.caracteristica{
    display: flex;


    &__img{
        width: 25rem;
    }

    &__nombre{
        text-align: left;
        font-size: 2.4rem;
        color: v.$gris_dos;
    }

    &__descripcion{
        font-size: 1.6rem;
        line-height: 3rem;
        padding: .5rem;
    }
}