<%- include("layout/head.ejs")  %> 

<%- include("layout/header.ejs") %> 

  <section class="banner__bg"> 
    <div class="banner container">
      <div class="banner-left">
        <div class="left-text">
          <h2 class="text-6xl">Gestiona tus trabajos</h2>
          <p>¡Bienvenido a Gestory!

            En Gestory, nos enorgullece ofrecerte una solución de gestión y organización eficiente para tus proyectos. Nuestra plataforma te permite gestionar tus tareas, colaborar con tu equipo y mantener un seguimiento detallado de tus proyectos.</p>
          <div class="banner-btn"><a class="btn-primario" href="/usuario/login">Comenzar</a></div>
        </div>
      </div>
      <div class="banner-right"><img src="../img/svg/undraw_team_up_re_84ok.svg" alt=""></div>
    </div>
  </section>
  <div id="superContenedor">
    <div class="slider-contenedor">
      <section class="contenido-slider">
        <div>
          <h2 class="text-3xl">Con nuestra interfaz intuitiva y fácil de usar, podrás crear tableros personalizados, añadir tarjetas, asignar tareas y realizar un seguimiento del progreso de cada proyecto. Mantén a tu equipo informado y sincronizado en tiempo real para lograr una mayor productividad y alcanzar tus objetivos de manera efectiva.</h2><a href="#">Empezar</a>
        </div><img src="./assets/animacion.svg" alt="">
      </section>
      <section class="contenido-slider">
        <div>
          <h2 class="text-3xl">Nos esforzamos por brindarte una experiencia excepcional en la gestión de proyectos, con características avanzadas y herramientas poderosas para optimizar tu flujo de trabajo. Ya sea que trabajes en equipo o de forma individual, Gestory está aquí para ayudarte a alcanzar tus metas de manera eficiente y organizada.</h2><a href="#">Empezar</a>
        </div><img src="./assets/animacion2.svg" alt="">
      </section>
      <section class="contenido-slider">
        <div>
          <h2 class="text-3xl">¡Explora nuestras funciones y descubre cómo Gestory puede hacer que la gestión de proyectos sea más fácil y exitosa para ti!</h2><a href="#">Empezar</a>
        </div><img src="./assets/animacion3.svg" alt="">
      </section>
      <section class="contenido-slider">
        <div>
          <h2 class="text-3xl">¡Descubre una nueva forma de gestionar tus proyectos!
            En nuestra plataforma, encontrarás todas las herramientas necesarias para llevar tus proyectos al siguiente nivel. Con características avanzadas y una interfaz intuitiva, podrás planificar, organizar y dar seguimiento a tus tareas de manera efectiva. Colabora con tu equipo, establece plazos, asigna responsabilidades y mantén un control total sobre el progreso de tus proyectos. Simplifica tu flujo de trabajo y optimiza la productividad con Gestory.</h2><a href="#">Empezar</a>
        </div><img src="./assets/animacion4.svg" alt="">
      </section>
      <section class="contenido-slider">
        <div>
          <h2 class="text-3xl">Simplifica la gestión de tus proyectos con Gestory
            Enfócate en lo que realmente importa: el éxito de tus proyectos. Gestory te ofrece una solución completa para la gestión de tareas y proyectos, permitiéndote concentrarte en alcanzar tus objetivos. Con una interfaz intuitiva y amigable, podrás crear tableros personalizados, organizar tus tareas de forma estructurada y colaborar en tiempo real con tu equipo. Desde pequeños proyectos hasta iniciativas empresariales, Gestory está aquí para ayudarte a hacer realidad tus ideas.</h2><a href="#">Empezar</a>
        </div><img src="./assets/animacion.svg" alt="">
      </section>
    </div>
  </div><!-- Aca hay que arreglar el contenedor-->
  <section class="caracteristicas container seccion">
    <h2 class="caracteristicas__heading text-5xl">&iquest;Por qu&eacute; elegir Gestory?</h2>
    <ul class="caracteristicas__grid">
      <li class="caracteristica">
        <div class="caracteristica__img"><img src="../img/svg/caracteristica1.svg" alt=""></div>
        <div class="caracteristica__info">
          <h3 class="caracteristica__nombre">Modalidades de pago</h3>
          <p class="caracteristica__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facere, aperiam.</p>
        </div>
      </li>
      <li class="caracteristica">
        <div class="caracteristica__img"><img src="../img/svg/caracteristica2.svg" alt=""></div>
        <div class="caracteristica__info">
          <h3 class="caracteristica__nombre">Orden</h3>
          <p class="caracteristica__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facere, aperiam.</p>
        </div>
      </li>
      <li class="caracteristica">
        <div class="caracteristica__img"><img src="../img/svg/caracteristica3.svg" alt=""></div>
        <div class="caracteristica__info">
          <h3 class="caracteristica__nombre">Organizaci&oacute;n</h3>
          <p class="caracteristica__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facere, aperiam.</p>
        </div>
      </li>
      <li class="caracteristica">
        <div class="caracteristica__img"><img src="../img/svg/caracteristica4.svg" alt=""></div>
        <div class="caracteristica__info">
          <h3 class="caracteristica__nombre">Dise&ntilde;os</h3>
          <p class="caracteristica__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facere, aperiam.</p>
        </div>
      </li>
      <li class="caracteristica">
        <div class="caracteristica__img"><img src="../img/svg/caracteristica5.svg" alt=""></div>
        <div class="caracteristica__info">
          <h3 class="caracteristica__nombre">Personalizable</h3>
          <p class="caracteristica__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facere, aperiam.</p>
        </div>
      </li>
      <li class="caracteristica">
        <div class="caracteristica__img"><img src="../img/svg/caracteristica6.svg" alt=""></div>
        <div class="caracteristica__info">
          <h3 class="caracteristica__nombre">Seguimientos</h3>
          <p class="caracteristica__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facere, aperiam.</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="organizacion container seccion">
    <div class="organizacion__container">
      <div class="organizacion__texto">
        <h2 class="organizacion__heading text-5xl">La organizacion del trabajo hace la efectividad</h2>
        <p class="organizacion__descripcion">Empieza con tarjetas, listas y un tablero de Trello. Personaliza y
          ampl&iacute;a con m&aacute;s funciones tu trabajo en equipo a su mismo ritmo. Gestiona proyectos, organiza
          tareas
          y crea esp&iacute;ritu de equipo, en un solo lugar.</p>
      </div>
      <div class="organizacion__img"><img src="../img/imgej.webp" alt=""></div>
    </div>
  </section>
  <section class="empresas container seccion">
    <div class="empresas-sup">
      <h3 class="mb-9">Las empresas que nos eligen</h3>
      <div class="sup-icon">
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa1.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa2.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa3.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa4.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa5.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa6.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa7.svg" alt=""></div>
        <div class="icon-img"><img src="../img/svg/logos-empresas/empresa8.svg" alt=""></div>
      </div>
    </div>
    <div class="empresas-inf">
      <div class="inf">
        <h4>Eres mi bebe</h4>
        <p class="text-white">Enr&oacute;llame as&iacute;
          Con az&uacute;car en polvo, end&uacute;lzame
          Y es que t&uacute; eres mi rey
          Qu&eacute; lindo eres t&uacute;, eres mi beb&eacute;
          Mi bebito Fiu Fiu
          Caramelo de chocolate
          Emp&aacute;pame as&iacute;
          Como un pionono de vitrina
          Enr&oacute;llame as&iacute;
          Con az&uacute;car en polvo, end&uacute;lzame
          Y es que t&uacute; eres mi rey
          Qu&eacute; lindo eres t&uacute;, eres mi beb&eacute;
          Mi bebito Fiu Fiu
          (Qu&eacute; lindo eres t&uacute;, eres mi beb&eacute;
          Mi bebito fiu fiu)
          En mis l&aacute;grimas te mir&eacute;
          En mis tristezas yo te bes&eacute;</p>
      </div>
      <div class="inf">
        <h4>Mi bebito fiu fiu</h4>
        <p  class="text-white">Me aprend&iacute; de memoria aquella estupidez
          &quot;Es mejor que te amen a que ames t&uacute;&quot;
          Hmm, vaya la inmadurez, fue casi la inmediatez
          En que no pude ni un d&iacute;a m&aacute;s vivir sin ti
          Caramelo de chocolate
          Emp&aacute;pame as&iacute;
          Como un pionono de vitrina
          Enr&oacute;llame as&iacute;
          Con az&uacute;car en polvo, end&uacute;lzame
          Y es que t&uacute; eres mi rey
          Qu&eacute; lindo eres t&uacute;, eres mi beb&eacute;
          Mi bebito Fiu Fiu
          (Qu&eacute; lindo eres t&uacute;, eres mi beb&eacute;
          Mi bebito Fiu Fiu)</p>
      </div>
    </div>
  </section>
  <section class="profesionales seccion container">
    <div class="profesionales-heading">
      <h3 class="text-5xl mb-4">Nuestro equipo de expertos</h3>
      <p class="text-center">Lorem Ipsum es simplemente texto de relleno de la industria de la impresi&oacute;n y la
        composici&oacute;n
        tipogr&aacute;fica</p>
    </div>
    <div class="card">
      <div class="card__perfil">
        <div class="card__contact"><i class="bx bxl-linkedin"></i><i class="bx bxl-twitter"></i></div>
        <div class="card__nombre"><img src="https://www.markuptag.com/images/user-img-1.jpg" alt="">
          <h2>Pablo Gomez</h2>
          <p>Dise&ntilde;ador web</p>
        </div>
        <hr>
        <div class="card__descripcion">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores perferendis rem ipsam
            veniam reiciendis eveniet optio eum velit, dignissimos asperiores fugit molestias ipsum
            temporibus
            rerum hic iste nulla vitae?</p>
        </div>
        <hr>
        <div class="card__button"><a class="enlace" href="#">Saber m&aacute;s</a></div>
      </div>
      <div class="card__perfil">
        <div class="card__contact"><i class="bx bxl-linkedin"></i><i class="bx bxl-twitter"></i></div>
        <div class="card__nombre"><img src="https://www.markuptag.com/images/user-img-2.jpg" alt="">
          <h2>Mateo Rojas</h2>
          <p>Desarrollador web</p>
        </div>
        <hr>
        <div class="card__descripcion">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores perferendis rem ipsam
            veniam reiciendis eveniet optio eum velit, dignissimos asperiores fugit molestias ipsum
            temporibus
            rerum hic iste nulla vitae?</p>
        </div>
        <hr>
        <div class="card__button"><a class="enlace" href="#">Saber m&aacute;s</a></div>
      </div>
      <div class="card__perfil">
        <div class="card__contact"><i class="bx bxl-linkedin"></i><i class="bx bxl-twitter"></i></div>
        <div class="card__nombre"><img src="https://www.markuptag.com/images/user-img-3.jpg" alt="">
          <h2>Salim Malik</h2>
          <p>Desarrollador front-end</p>
        </div>
        <hr>
        <div class="card__descripcion">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores perferendis rem ipsam
            veniam reiciendis eveniet optio eum velit, dignissimos asperiores fugit molestias ipsum
            temporibus
            rerum hic iste nulla vitae?</p>
        </div>
        <hr>
        <div class="card__button"><a class="enlace" href="#">Saber m&aacute;s</a></div>
      </div>
    </div>
  </section>
  <section class="newsletter container seccion">
    <form action="">
      <h2 class="text-5xl mb-4">Unite a nuestro NewSletter</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eveniet ratione delectus vero animi
        non. Tempore assumenda porro excepturi aliquam.</p>
      <div class="email-box"><i class="bx bxs-envelope"></i><input type="email" placeholder="Ingrese su email"><button
          type="button" name="button">Suscribite</button></div>
    </form>
  </section>
  <%- include("layout/footer.ejs")  %> 
  <script src="../js/darkMode.js"></script>
  <script src="../js/app.js"></script>
</body>