@charset "UTF-8";
.text-center {
  text-align: center;
}

/** Media Queries **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  padding-top: 12rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #ffffff;
  height: 100vh;
  background: rgb(42, 44, 44);
  background: linear-gradient(180deg, rgb(188, 200, 200) 0%, rgba(45, 203, 253, 0.0088235978) 40%);
  background-repeat: no-repeat;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

p {
  color: #000000;
  font-size: 2rem;
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.seccion {
  padding: 8rem 0;
}

a {
  text-decoration: none;
  color: #262626;
  font-size: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  margin: 0%;
}

h2 {
  font-size: 3.2rem;
  color: #000000;
  margin: 0%;
}

h3 {
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style: none;
}

.swiper {
  width: 80%;
  height: 50rem;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark {
  background: #262626;
}
.dark h1, .dark h2, .dark h3, .dark h4 {
  color: #ffffff;
}
.dark .caracteristicas h3 {
  color: #0367A6;
}
.dark p {
  color: #ffffff;
}
.dark .empresas-sup h3 {
  color: #ffffff;
}
.dark .empresas .inf p {
  color: #ffffff;
}
.dark .newsletter {
  background-color: #262626;
  box-shadow: 10px 15px 15px #0367A6;
}
.dark a, .dark li {
  color: #ffffff;
}
.dark .iniciodesesion i {
  color: #ffffff;
}

nav {
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 1px 1px 5px #262626;
  background-color: #0367A6;
  color: #ffffff;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navegacion .logo__container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navegacion .logo__container img {
  max-width: 4rem;
}
@media (max-width: 480px) {
  .navegacion .logo__container h1 {
    display: none;
  }
}
@media (max-width: 868px) {
  .navegacion .logo__container h1 {
    display: none;
  }
}
.navegacion .nav__signin-signup {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navegacion .nav__signin-signup a:nth-child(2) {
  font-weight: 500;
  transition: all 300ms;
}
.navegacion .nav__signin-signup a:first-child {
  color: #ffffff;
}
@media (max-width: 480px) {
  .navegacion .nav__signin-signup {
    display: none;
  }
}
@media (max-width: 868px) {
  .navegacion .nav__signin-signup {
    display: none;
  }
}
@media (max-width: 900px) {
  .navegacion .nav__signin-signup {
    display: none;
  }
}
.navegacion .btn {
  display: none;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}

/* Menu desplegable funcionamiento ↓↓↓ */
.menu__nesting {
  list-style: none;
  transition: clip-path 0.3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.649);
  backdrop-filter: blur(40px);
  border-radius: 0.5rem;
}

/* Padding del menu desplegable ↓↓↓ */
.menu__link--inside {
  padding: 30px 100px 30px 20px;
}

/* Hover del menu desplegable ↓↓↓ */
.menu__link--inside:hover {
  background-color: #798499;
}

.menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  width: 36px;
}

@media (max-width: 800px) {
  .menu__hamburguer {
    display: flex;
  }
  .menu__item {
    --clip: 0;
    overflow: hidden;
  }
  .menu__item--active {
    --transform: rotate(0);
    --background: #5e7094;
  }
  .menu__item--show {
    background-color: var(--background);
  }
  .menu__links {
    position: fixed;
    max-width: 100%;
    width: 100%;
    top: 6rem;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(40rem);
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }
  .menu__links--show {
    transform: unset;
    width: 100%;
  }
  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }
  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }
  .menu__link--inside {
    width: 100%;
  }
}
.btn-primario {
  background-color: #0367A6;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 1rem;
}
.btn-primario:hover {
  cursor: pointer;
  background-color: #024874;
}

.btn-secundario {
  background-color: #397774;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 1rem;
}
.btn-secundario:hover {
  cursor: pointer;
  background-color: #285552;
}
.btn-secundario:hover {
  color: #ffffff;
}

.btn-dam {
  background-color: #0099ff;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 1rem;
}
.btn-dam:hover {
  cursor: pointer;
  background-color: #007acc;
}

.btn {
  border: none;
  font-size: 4rem;
  background-color: transparent;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: orange;
  color: #000;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.banner__bg {
  background-image: url("../img/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90%;
}

.banner {
  padding: 8rem 0;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .banner {
    text-align: center;
  }
}
.banner p {
  padding: 1rem 0;
  width: 80%;
}
@media (max-width: 480px) {
  .banner p {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
.banner .banner-left {
  width: 60%;
}
@media (max-width: 480px) {
  .banner .banner-left {
    width: 100%;
  }
}
@media (max-width: 868px) {
  .banner .banner-left {
    width: 100%;
  }
}
.banner .banner-left .banner-btn {
  margin-top: 2rem;
}
@media (max-width: 480px) {
  .banner .banner-left .banner-btn {
    margin: 2rem 0;
  }
}
@media (max-width: 868px) {
  .banner .banner-left .banner-btn {
    margin: 2rem 0;
  }
}
.banner .banner-right {
  width: 40%;
}
.banner .banner-right img {
  width: 90%;
}
@media (max-width: 480px) {
  .banner .banner-right {
    width: 100%;
    margin-top: 4rem;
  }
}
@media (max-width: 868px) {
  .banner .banner-right {
    width: 100%;
    margin-top: 4rem;
  }
}
@media (max-width: 480px) {
  .banner {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 868px) {
  .banner {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.footer {
  background-color: #0367A6;
  color: #ffffff;
}
.footer .footer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15rem;
  margin: 0 auto;
}
.footer .footer-title h2 {
  margin-top: 1rem;
}
@media (max-width: 480px) {
  .footer .footer-title {
    display: none;
  }
}
@media (max-width: 868px) {
  .footer .footer-title {
    display: none;
  }
}
.footer .footer-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
  padding: 5rem;
  align-items: center;
}
@media (max-width: 480px) {
  .footer .footer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
}
@media (max-width: 868px) {
  .footer .footer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
}
.footer .footer-grid h3 {
  text-align: left;
  margin-bottom: 3rem;
  font-size: 2.6rem;
  text-align: center;
  font-weight: bold;
  color: #262626;
}
.footer .footer-grid .footer-widget {
  text-align: center;
}
.footer .footer-grid .footer-widget li {
  padding: 0.5rem 0;
}
.footer .footer-grid .footer-widget a {
  color: #ffffff;
  margin-bottom: 2rem;
}
.footer .footer-copy {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #163d56;
}

.caracteristicas {
  width: 80%;
  border-bottom: 3px solid #ccc;
}
.caracteristicas h2 {
  text-align: center;
  margin-bottom: 8rem;
}
.caracteristicas__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 480px) {
  .caracteristicas__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 868px) {
  .caracteristicas__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .caracteristicas {
    width: 100%;
  }
}
@media (max-width: 868px) {
  .caracteristicas {
    width: 100%;
  }
}

.caracteristica {
  display: flex;
}
.caracteristica__img {
  width: 25rem;
}
.caracteristica__nombre {
  text-align: left;
  font-size: 2.4rem;
  color: #595959;
}
.caracteristica__descripcion {
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 0.5rem;
}

.organizacion {
  border-bottom: 3px solid #ccc;
  width: 80%;
}
@media (max-width: 480px) {
  .organizacion {
    width: 100%;
  }
}
@media (max-width: 868px) {
  .organizacion {
    width: 100%;
  }
}
.organizacion__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .organizacion__container {
    width: 90%;
  }
}
@media (max-width: 868px) {
  .organizacion__container {
    width: 90%;
  }
}
.organizacion__heading {
  text-align: center;
  padding: 2rem 0;
}
.organizacion__descripcion {
  text-align: center;
}
.organizacion__img {
  margin-top: 2rem;
}

#superContenedor {
  overflow: hidden;
}

.slider-contenedor {
  width: 100%;
  display: flex;
}

.contenido-slider {
  width: 100%;
  height: 70rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  background-color: #0367A6;
}
@media (max-width: 480px) {
  .contenido-slider {
    height: 40rem;
  }
}
@media (max-width: 868px) {
  .contenido-slider {
    height: 40rem;
  }
}
.contenido-slider h2 {
  color: #ffffff;
}

.contenido-slider:nth-child(2) {
  background: #332863;
}

.contenido-slider:nth-child(3) {
  background: #611a68;
}

.contenido-slider:nth-child(4) {
  background: #5d6eec;
}

.contenido-slider > img {
  width: 400px;
}

.contenido-slider > div {
  width: 40%;
}
@media (max-width: 480px) {
  .contenido-slider > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 868px) {
  .contenido-slider > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.contenido-slider h2 {
  font-weight: 300;
  text-align: justify;
  line-height: 4rem;
}
@media (max-width: 480px) {
  .contenido-slider h2 {
    display: none;
  }
}
@media (max-width: 868px) {
  .contenido-slider h2 {
    display: none;
  }
}

.contenido-slider a {
  color: #fff;
  background: #332863;
  width: 150px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 1rem;
  transition: transform 1s;
}
@media (max-width: 868px) {
  .contenido-slider a {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .contenido-slider a {
    width: 100%;
  }
}

.contenido-slider a:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #397774;
}

.contenido-slider:nth-child(2) a {
  background: #fff;
  color: #332863;
}

.contenido-slider:nth-child(4) a {
  background: rgb(92, 54, 218);
  color: #f1f0f8;
}

@media screen and (max-width: 900px) {
  .contenido-slider > img {
    width: 250px;
  }
  .contenido-slider > div {
    width: 40%;
  }
  .contenido-slider h2 {
    font-size: 23px;
  }
}
@media screen and (max-width: 600px) {
  .contenido-slider {
    flex-direction: column-reverse;
  }
  .contenido-slider > div {
    width: 80%;
  }
}
.empresas {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .empresas {
    width: 90%;
    padding: 0;
  }
}
@media (max-width: 868px) {
  .empresas {
    width: 90%;
    padding: 0;
  }
}

.empresas-sup h3 {
  font-weight: 400;
  font-size: 2.4rem;
  padding: 2rem;
  color: #304548;
}
.empresas-sup .sup-icon {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.empresas-sup .sup-icon .icon-img {
  display: flex;
  justify-content: center;
}
.empresas-sup .sup-icon .icon-img img {
  max-width: 15rem;
}
@media (max-width: 480px) {
  .empresas-sup .sup-icon {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 868px) {
  .empresas-sup .sup-icon {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.empresas-inf {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  color: #304548;
}
.empresas-inf .inf h4 {
  font-size: 2.8rem;
  font-weight: 500;
  padding: 1rem 0;
  text-align: center;
}
.empresas-inf .inf p {
  color: #262626;
}
@media (max-width: 480px) {
  .empresas-inf {
    display: none;
  }
}
@media (max-width: 868px) {
  .empresas-inf {
    display: none;
  }
}

.newsletter {
  width: 70%;
  margin: 0 auto;
  background-color: #BFD1D9;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 0;
  box-shadow: 5px 5px 10px #0367A6;
  margin-bottom: 5rem;
}
@media (max-width: 480px) {
  .newsletter {
    width: 90%;
  }
}
@media (max-width: 868px) {
  .newsletter {
    width: 90%;
  }
}
.newsletter h2 {
  color: #0367A6;
}
.newsletter p {
  padding: 0 5rem;
}
.newsletter .email-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .newsletter .email-box {
    flex-wrap: wrap;
  }
}
.newsletter .email-box i {
  font-size: 2.6rem;
  color: #0367A6;
}
.newsletter .email-box i:hover {
  cursor: pointer;
  color: #397774;
}
.newsletter .email-box input {
  font-size: 2.2rem;
}
.newsletter .email-box button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #595959;
  margin-left: 2rem;
}
.newsletter .email-box button:hover {
  cursor: pointer;
  color: #0367A6;
}

.gallery {
  max-width: 70%;
  display: flex;
  height: 60rem;
}
.gallery .img-container {
  min-width: 20rem;
  object-fit: cover;
  flex: 1;
  transition: 0.3s flex;
}
.gallery .img-container:hover {
  flex: 2;
  cursor: pointer;
}

.card {
  width: 100%;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
.card .card__contact {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
.card .card__contact i {
  display: block;
  padding: 2rem;
  color: #0367A6;
  font-size: 3rem;
}
.card .card__perfil {
  width: 40rem;
  padding: 20px;
  box-shadow: 1px 1px 5px #0367A6;
  border: solid rgba(3, 133, 255, 0) 2px;
  border-radius: 10px;
  position: relative;
}
.card .card__perfil:hover {
  border: solid rgb(3, 133, 255) 2px;
}
.card .card__perfil:hover img {
  transform: rotate(0);
  cursor: pointer;
}
.card img {
  width: 140px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(216, 216, 216);
  transform: rotate(-30deg);
  transition: all 0.3s;
}
.card .card__nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.card hr {
  width: 100%;
  height: 4px;
  background: rgb(223, 221, 221);
  margin: 20px 5px;
}
.card .card__button {
  text-align: center;
}
.card .enlace {
  background: #0367A6;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
}

.todo {
  width: 70%;
  line-height: 4rem;
  display: flex;
  justify-content: flex-start;
  margin: 4rem 1em 0 6.8rem;
  flex-direction: column;
  font-size: 4rem;
}
.todo .junto {
  margin: 6rem;
}
.todo .junto #Gestory {
  font-size: 7.2rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}
.todo .recuadros {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  border-style: hidden hidden solid;
  border-color: #0367A6;
  background-color: rgba(0, 0, 0, 0);
  color: #262626;
  font-size: 1.8rem;
  text-overflow: ellipsis;
  margin-bottom: 1.2rem;
  letter-spacing: 0.3px;
}
.todo input[type=email], .todo [type=password] {
  font-family: "Poppins", sans-serif;
  border-style: hidden hidden solid;
  border-color: #0367A6;
  background-color: rgba(0, 0, 0, 0);
  color: #262626;
  font-size: 1.8rem;
  text-overflow: ellipsis;
  margin-bottom: 1.2rem;
  letter-spacing: 0.3px;
}
.todo input[type=password] {
  padding: 4px 0 0;
}
.todo input:focus {
  outline: none;
}
.todo .iniciodesesion {
  display: inline-flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
}
.todo #icon {
  font-size: 2.4rem;
}
.todo .forgot_or_register {
  display: flex;
  margin-bottom: 0.4rem;
}
.todo .forgot_or_register a {
  font-size: 2.3rem;
}
.todo .forgot_or_register a:hover {
  color: #0367A6;
}
.todo .botoniniciarsesion {
  border: none;
  border-radius: 30px;
  padding: 1rem;
  font-size: 1.8rem;
  background-color: #0367A6;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: white;
  letter-spacing: 1px;
  display: flex;
  width: 65%;
  justify-content: center;
  margin-bottom: 1.2rem;
  cursor: pointer;
}
.todo .botoniniciarsesion:hover {
  background-color: #0b3149;
  transition: 0.2s;
}
.todo .otroslogin {
  font-size: 1.4rem;
  text-align: center;
  color: #595959;
  right: 0;
  left: 0;
  width: 65%;
}
.todo #login_redes {
  font-size: 4rem;
  width: 60%;
  right: 0;
  left: 0;
  display: flex;
  cursor: pointer;
  margin: 1rem;
  justify-content: center;
  color: #0367A6;
}

#pantalla-dividida {
  display: flex;
  /*  background-color: white; */
}

.parteizq {
  height: 100vh;
  width: 55%;
  font-size: 7rem;
}

.parteder {
  background: hsla(203deg, 30%, 41%, 0.096);
  height: 100vh;
  width: 45%;
}
@media (max-width: 868px) {
  .parteder {
    display: none;
  }
}
@media (max-width: 480px) {
  .parteder {
    display: none;
  }
}
.parteder #svg {
  width: 70%;
  margin: auto;
  padding-top: 7rem;
}
@media (max-width: 868px) {
  .parteder #svg {
    display: none;
  }
}
@media (max-width: 480px) {
  .parteder #svg {
    display: none;
  }
}
.parteder .logo_pag {
  width: calc(5% + 5px);
  position: absolute;
  bottom: 8px;
  right: 16px;
}
@media (max-width: 868px) {
  .parteder .logo_pag {
    display: none;
  }
}
@media (max-width: 480px) {
  .parteder .logo_pag {
    display: none;
  }
}

#volver_atras {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 3.5rem;
  cursor: pointer;
}

#volver_atras:hover {
  color: #0367A6;
}

.warnings {
  width: 28rem;
  text-align: center;
  margin-left: 6rem;
  color: #0367A6;
  padding-top: 1rem;
}

.registro {
  background: rgb(91, 9, 131);
  background: linear-gradient(360deg, #6c63ff 0%, rgba(91, 9, 131, 0.0088235978) 74%);
}

.metodologias .metodologias__heading a:hover {
  color: #0367A6;
  transform: scale(1.2);
}

#specialists .especialistas-heading {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#specialists .especialistas-heading h2 {
  font-size: 3.2rem;
}
#specialists .especialistas-heading p {
  font-size: 2rem;
  width: 60%;
  text-align: center;
}
#specialists .container {
  width: 68%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
#specialists .container article {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 1.5rem rgba(57, 119, 116, 0.8);
  position: relative;
  transition: all 700ms ease;
}
#specialists .container article:hover {
  box-shadow: none;
  cursor: pointer;
}
#specialists .container article:hover .specialist__image::before {
  left: 0;
  border-radius: 1rem;
}
#specialists .container article:hover .specialist__socials,
#specialists .container article:hover .specialist__whatsapp {
  opacity: 1;
  visibility: visible;
}
#specialists .container article .specialist__image {
  height: 30rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
}
#specialists .container article .specialist__image::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(135deg, rgba(3, 103, 166, 0.8), rgba(57, 119, 116, 0.8));
  border-radius: 50%;
  transition: all 1s ease;
}
#specialists .container article .specialist__details {
  padding: 1rem;
  margin: 1.5rem 0;
  text-align: center;
}
#specialists .container article .specialist__details h4 {
  color: #262626;
}
#specialists .container article .specialist__socials {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 1s 400ms ease;
}
#specialists .container article .specialist__socials a {
  background: #ffffff;
  color: #0367A6;
  padding: 0.4rem;
  display: flex;
  font-size: 2rem;
  border-radius: 50%;
  transition: all 400ms ease;
}
#specialists .container article .specialist__socials a:hover {
  background: #0367A6;
  color: #ffffff;
}
#specialists .container article .specialist__whatsapp {
  background: #0367A6;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all 1s 400ms ease;
}

.gestor_de_tareas {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.gestor_de_tareas h1 {
  padding: 1.2rem 1.5rem;
  /*         border-bottom: 2px solid #6a778b63; */
  display: block;
}

#body {
  background-color: rgb(83, 82, 82);
}

.tableros {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  padding: 1.2rem;
}

.tareas-cuerpo {
  min-width: fit-content;
  display: flex;
  gap: 3rem;
}

.tareas-top {
  gap: 2rem;
}
.tareas-top h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

.tareas-titulo_principal {
  display: flex;
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  justify-content: space-between;
  background-color: #ebecf0;
}
.tareas-titulo_principal i {
  font-size: 3rem;
  position: relative;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  cursor: pointer;
}

.primer-tab {
  max-width: 290px;
  overflow-y: auto;
  min-height: fit-content;
}

.tareas-cards {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.625rem;
  padding-top: 1rem;
  border-bottom: 0.625rem;
  border-top: 0.625rem;
  background-color: #ebecf0;
  max-width: 290px;
  overflow-y: auto;
}

.tarjeta {
  background-color: #ebecf0;
}

#agregar:hover {
  border-radius: 3px;
  background-color: rgba(87, 87, 97, 0.233);
  transition: 0.3s;
  cursor: pointer;
}

.card-titulo {
  font-weight: bold;
}

.card-estilo {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  position: relative;
  margin-top: 8px;
  min-width: 20px;
  max-width: 300px;
  background-color: #ebecf0;
}
.card-estilo #nueva-tarea-input {
  width: 100%;
  max-height: 240px;
  overflow-y: scroll;
  height: 80px;
  margin-top: 2px;
}
.card-estilo #nueva-tarea-submit {
  background-color: rgb(51, 65, 85);
  padding: 0.6rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.3rem;
  margin: 0.5rem;
  cursor: pointer;
}
.card-estilo #contenido {
  display: flex;
  /*     i:hover{
          opacity: 1;
          transition: 0.2s;
          animation-timing-function: ease-in-out;
      } */
}
.card-estilo #contenido .icon {
  position: absolute;
  font-size: 2.25rem;
  left: 88%;
  top: 26%;
  color: #4c5a72;
  cursor: pointer;
  /*         opacity: 0; */
}

#nueva-tarea-input {
  background-color: #fff;
  flex: 1 1 0%;
  word-wrap: break-word;
}

.tarea {
  background-color: #ebecf0;
}

#tareas {
  background-color: #ebecf0;
}

.actions {
  background-color: #ebecf0;
}

.text {
  background-color: #fff;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 2px 4px 3px -4px rgba(41, 41, 41, 0.75);
  cursor: move;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.edit {
  background-color: rgb(51, 65, 85);
  padding: 0.6rem;
  color: #fff;
  border-radius: 4px;
  font-size: 1.3rem;
  margin: 0.5rem;
}

.actions {
  display: flex;
  align-content: flex-end;
}
.actions #equis i {
  font-size: 2.8rem;
  text-align: center;
  padding-top: 8px;
}

body {
  background-color: rgb(43, 42, 42);
}

.nav_el {
  background-color: #0367A6;
  display: flex;
  justify-content: space-evenly;
  padding: 0.4rem 0 0.4rem;
  align-content: center;
  text-align: center;
  align-items: center;
}

.logo {
  display: flex;
  margin: 0 1rem;
  /*    padding-left: 0.4rem; */
}
.logo h1 {
  margin-left: 0.5rem;
  font-weight: 600;
  padding-left: 1rem;
}
.logo img {
  width: auto;
  height: 3.3rem;
}

.paths {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.paths i {
  background-color: #172b4d;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  width: 55px;
  justify-content: center;
  cursor: pointer;
}

.busqueda {
  position: relative;
  margin: 0 1rem;
  border-radius: 4px;
  display: flex;
}
.busqueda input {
  border-style: hidden hidden solid;
  border-color: white;
  border-bottom-width: 0.5px;
  text-overflow: ellipsis;
}
.busqueda i {
  font-size: 2rem;
  margin-right: 1rem;
}

.user {
  display: flex;
  font-size: 2.6rem;
  gap: 1.2rem;
  margin: 0 1.6rem;
}

#icons {
  color: #ffffff;
}

.menu_izq {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem;
  margin: 2.5rem 1rem 0;
}
.menu_izq h4 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #172b4d;
  padding: 0.6rem 0.8rem 0.6rem 0;
}
.menu_izq h4:hover {
  color: #0f69a1;
  background-color: rgba(187, 197, 204, 0.2);
  border-radius: 0.5rem;
  animation: 0.2s;
}
.menu_izq h5 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #5e6c84;
  padding: 0.6rem 0.8rem 0.6rem 0;
}
.menu_izq .tableros_activos {
  display: flex;
}
.menu_izq .tableros_activos #icon-izq {
  color: #5e6c84;
  padding-left: 2rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.menu_izq .hr {
  border-bottom: 1rem;
  border-bottom: 2px solid #6a778b;
  opacity: 0.5;
  width: 90%;
}

body {
  background-color: white;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  /*     margin: 1.5rem; */
  width: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 1rem 0;
}
.principal h2 {
  font-size: 2.6rem;
  font-weight: bold;
  color: #172b4d;
}
.principal #icon-p {
  padding-right: 0.4rem;
  color: #172b4d;
}

/*# sourceMappingURL=app.css.map */
