@use 'variables' as v; 
@use 'mixins' as m; 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

  
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    background-color: v.$blanco;
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgb(157, 228, 228) 0%, rgba(45,203,253,0.008823597798494398) 40%); 
    background-repeat: no-repeat;

    &.dark {
		background: #111111;
	}
}

a {
	color: #222222;
	text-decoration: none;
	font-weight: 500;
}

p {
    color: v.$negro;
    font-size: 2rem;
    line-height: 2;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.seccion{
    padding: 8rem 0;
}


a {
    text-decoration: none;
    color: v.$gris_oscuro;
    font-size: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 3rem;
    color: v.$blanco;
    margin: 0%;
}

h2{
    font-size: 3.2rem;
    color: v.$negro;
    margin: 0%;
}

h3 {
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
}
ul {
    padding: 0;
    list-style: none;
}