// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 868px;
$tablet2:900px;
$desktop: 1024px;
$desktop-grande: 1368px;

// Colores
$celeste_uno: #0367A6;
$celeste_dos: #397774;
$verde: #03A63C;
$gris_uno: #304548;
$gris_dos: #595959;
$gris_oscuro: #262626;
$color_claro: #BFD1D9;
$negro: #000000;
$blanco: #ffffff;

