@use 'base/mixins' as m;
@use 'base/variables' as v;

.btn-primario{
    @include m.boton(v.$celeste_uno, v.$blanco);
}

.btn-secundario{
    @include m.boton(v.$celeste_dos, v.$negro);

    &:hover{
        color: v.$blanco;
    }
}

.btn{
    border: none;
    font-size: 4rem;
    background-color: transparent;
}