<footer class="footer">
    <div class="container footer-grid">
      <div class="footer-widget footer-title"><img src="../img/Logo-pag.png" alt="footer-icon">
        <h2 class="text-5xl">Gestory</h2>
      </div>
      <div class="footer-widget">
        <h3>Acerca</h3>
        <ul>
          <li><a href="#">Objetivo</a></li>
          <li><a href="#">Nuestro Staff</a></li>
          <li><a href="#">Empresas</a></li>
        </ul>
      </div>
      <div class="footer-widget">
        <h3>Aplicaciones</h3>
        <ul>
          <li><a href="#">Tecnologías</a></li>
          <li><a href="#">Metodologías</a></li>
          <li><a href="#">Trabajos</a></li>
        </ul>
      </div>
      <div class="footer-widget">
        <h3>Contacto</h3>
        <ul>
          <li><a href="#">Ubicación</a></li>
          <li><a href="#">Soporte</a></li>
          <li><a href="#">Soluciones</a></li>
        </ul>
      </div>
    </div>
    <p class="footer-copy">&copy; Gestory - Todos los derechos reservados</p>
  </footer>