<body>
  <nav>
    <div class="navegacion container">
      <div class="logo__container">
        <button class="switch" id="switch"><span><i class="fas fa-sun"></i></span><span>
          <i class="fas fa-moon"></i></span>
        </button><a href="/"><img src="../img/Logo-pagALT.png" alt="Logo-pagina"></a><a href="/">
          <h1 class="text-5xl">Gestory</h1>
        </a></div><!-- ↓↓↓ Menu Desplegable ↓↓↓-->
      <section class="menu__container">
        <h1 class="menu__logo"></h1>
        <ul class="menu__links">
          <li class="menu__item"><a class="menu__link" href="#">Inicio</a></li>
          <li class="menu__item menu__item--show"><a class="menu__link" href="#">Acerca<i
                class='bx bxs-down-arrow menu__arrow'></i></a>
            <ul class="menu__nesting">
              <li class="menu__inside"><a class="menu__link menu__link--inside"
                  href="/acerca/metodologias">Metodolog&iacute;as</a></li>
              <li class="menu__inside"><a class="menu__link menu__link--inside" href="#">Trabajos</a></li>
              <li class="menu__inside"><a class="menu__link menu__link--inside" href="#">Plantillas</a></li>
            </ul>
          </li>
          <li class="menu__item menu__item--show"><a class="menu__link" href="#">Projectos<i
                class='bx bxs-down-arrow menu__arrow'></i></a>
            <ul class="menu__nesting">
              <li class="menu__inside"><a class="menu__link menu__link--inside" href="#">Projects 1</a></li>
              <li class="menu__inside"><a class="menu__link menu__link--inside" href="#">Projects 2</a></li>
              <li class="menu__inside"><a class="menu__link menu__link--inside" href="#">Projects 3</a></li>
            </ul>
          </li>
          <li class="menu__item"><a class="menu__link" href="#">Contactos</a></li>
        </ul>
        <div class="menu__hamburguer"><img class="menu__img" src="./assets/menu.svg"></div>
      </section><!-- ↑↑↑ Menu desplegable ↑↑↑-->
      <div class="nav__signin-signup"><a href="/usuario/login">Ingresar</a><a class="btn-dam"
          href="/usuario/registro">Registro</a></div><button class="btn"><i class="bx bx-menu"></i></button><button
        class="btn"><i class="bx bx-x"></i></button>
    </div>
  </nav>