@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer{
    background-color: v.$celeste_uno;
    color: v.$blanco;
    margin-top: 5rem;


    .footer-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 15rem;
        margin: 0 auto;

        h2{
            margin-top: 1rem;
        }
        @include m.telefono{
            display: none;
        }
        @include m.tablet{
            display: none;
        }
    }


    

    .footer-grid{
        @include m.grid(4,4rem);
        margin-bottom: 2rem;
        padding: 5rem;
        align-items: center;

        @include m.telefono{
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 0;
        }
        @include m.tablet{
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 0;
        }

        h3{
            text-align: left;
            margin-bottom: 3rem;
            font-size: 2.6rem;
            text-align: center;
            font-weight: bold;
            color: v.$gris_oscuro;
        }

        .footer-widget{
            text-align: center;

            li{
                padding: .5rem 0;
            }
            a{
                color: v.$blanco;
                margin-bottom: 2rem;   
            }
        }
    }

    .footer-copy{
        text-align: center;
        font-weight: bold;
        color: v.$blanco;
        background-color: #163d56;
    }
}