doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Gestory
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../css/app.css')
  // Boxicons
  link(href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet')
  // Tailwind
  link(rel='stylesheet' href='../css/tail.css')
section.inicio_de_sesion
  a(href='/')
    i#volver_atras.bx.bx-left-arrow-alt
  #pantalla-dividida
    .parteizq
      .todo
        .junto
          h2#Gestory Gestory
          .iniciodesesion
            .email
              form#form(action='' method='POST')
                i#icon.bx.bx-user
                input#email1(type='email' placeholder='Correo electrónico o usuario' required='')
          a(href='usuario/login')
          button.botoniniciarsesion(type='submit' name='button') Recuperar cuenta
          // alertas de usuario ↓↓↓
          p#warnings.warnings
          .forgot_or_register
            a(href='/usuario/login')
              h6 Iniciar sesi&oacute;n
            p &#x30FB;
            a.texto-registrarse(href='/usuario/registro')
              h6 Registrarse
          p.otroslogin --- o continuar con ---
          #login_redes
            i.bx.bxl-facebook-circle
            i.bx.bxl-google
            i.bx.bxl-twitter
    .parteder
      img#svg(src='../img/svg/undraw_futuristic_interface_re_0cm6.svg' alt='')
      .logo__container
        a(href='/')
          img.logo_pag(src='../img/Logo-pag.png' alt='Logo-pagina')
.info_extra
script(src='./public/js/formulario.js')
