<%- include("../layout/head.ejs")  %> 

<body>
    <%- include('../layout/header.ejs')  %> 

    <section class="inicio_de_sesion"><a href="/"><i class="bx bx-left-arrow-alt" id="volver_atras"></i></a>
        <div id="pantalla-dividida">
            <div class="parteizq pt-32">
                <div class="todo">
                    <div class="junto">
                        <h2 id="Gestory">Gestory</h2>
                        <form class="iniciodesesion" action="./registro" method="POST">
                            <div class="user">
                                <i class="bx bx-user mx-2"  id="icon"></i>
                                <input id="user" type="email" placeholder="Nombre de usuario" required="" name="user">
                            </div>
                            <div class="email">
                                <i class="bx bx-envelope mx-2" id="icon"></i>
                                <input id="email1" type="email" placeholder="Correo electrónico" required=""  name="email">
                            </div>
                            <div class="password">
                                <i class="bx bx bx-lock-alt mx-2" id="icon"></i>
                                <input id="password" type="password" placeholder="Su Password" required="" name="password">
                            </div>
                            <div class="rep-password">
                                <i class="bx bx bx-lock-alt mx-2" id="icon"></i>
                                <input id="rep-password" type="password" placeholder="Su Password" required="" name="rep-password">
                            </div>
                        </form>
                        <a href="usuario/login"></a><button class="botoniniciarsesion" type="submit" name="button">Iniciar sesi&oacute;n</button><!-- alertas de usuario ↓↓↓-->
                        <p class="warnings" id="warnings"></p>
                        <div class="forgot_or_register"><a href="/usuario/recuperar">
                                <h6>&iquest;Olvidaste tu contrase&ntilde;a?</h6>
                            </a>
                            <p>&#x30FB;</p><a class="texto-registrarse" href="/usuario/login">
                                <h6>Ingresar</h6>
                            </a>
                        </div>
                        <p class="otroslogin">--- o continuar con ---</p>
                        <div id="login_redes"><i class="bx bxl-facebook-circle"></i><i class="bx bxl-google"></i><i class="bx bxl-twitter"></i></div>
                    </div>
                </div>
            </div>
            <div class="parteder registro pt-32"><img id="svg" src="../img/svg/registro.svg" alt="registro-svg">
                <div class="logo__container"><a href="/"><img class="logo_pag" src="../img/Logo-pag.png" alt="Logo-pagina"></a></div>
            </div>
        </div>
    </section>
    <div class="info_extra"></div>
    <script src="./public/js/formulario.js"></script>
    <script src="../js/darkMode.js"></script>
</body>